@keyframes rotateAround {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.wrapper {
  display: flex;
  position: relative;
}

.wrapperModal {
  width: 50%;
  height: 50%;
  margin-left: 24px;
}

.wrapperNeeds {
  align-items: center;
  width: 85%;
  height: 85%;
}

.image {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  z-index: 25;
  filter: grayscale(100%);
  transition: var(--transition);
}

.borderInner {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 4px solid var(--gold);
  box-sizing: border-box;
  transition: var(--transition);
  z-index: 30;
}

.borderInnerNeeds::before,
.borderInnerNeeds::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  border-left: 0.8vw solid transparent;
  border-right: 0.8vw solid transparent;
  z-index: 35;
}

.borderInnerNeeds::before {
  top: -1.6vw;
  border-bottom: 0.8vw solid var(--gold);
}

.borderInnerNeeds::after {
  bottom: -1.6vw;
  border-top: 0.8vw solid var(--gold);
}

.borderMiddle {
  position: absolute;
  width: 107%;
  height: 107%;
  right: -1px;
  bottom: -1px;
  border-radius: 50%;
  border: 2px solid var(--gold);
  box-sizing: border-box;
  transition: var(--transition);
  z-index: 20;
}

.borderOuterWrapper {
  position: absolute;
  z-index: 10;
  pointer-events: none;
}

.borderOuterWrapperModal {
  width: 100%;
  height: 100%;
  right: 2%;
  bottom: 2%;
}

.borderOuterWrapperNeeds {
  width: 100%;
  height: 100%;
  right: 0;
  top: 0;
}

.borderOuter {
  position: absolute;
  border-radius: 50%;
  border: 1px solid var(--gold);
  box-sizing: border-box;
  transition: var(--transition);
}

.borderOuterModal {
  right: -8%;
  bottom: -8%;
  width: 125%;
  height: 125%;
}

.borderOuterNeeds {
  right: -3%;
  top: -3%;
  width: 115%;
  height: 115%;
}

.wrapper:hover .image {
  filter: grayscale(0%);
}

.wrapper:hover .borderOuterWrapper {
  animation: rotateAround 1s linear infinite;
}
