.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: auto;
  background-image: url("../../assets/svg/bg-about.svg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 18%;
  padding-bottom: 18%;
}

/* .container::before {
  content: "";
  background-image: url("../../assets/images/money-copy.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain; 
  width: 18vw;
  height: 18vw;
  position: absolute;
  bottom: 13%; 
  right: 12%; 
  z-index: 1;
} */

.contentWrapper {
  width: 60vw;
  z-index: 2;
}

.titleWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url("../../assets/icons/header-about.svg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: contain;
  text-align: center;
  width: 100%;
  height: clamp(160px, 18vw, 300px);
  margin-bottom: clamp(24px, 2vw, 64px);
}

.title {
  font-family: "MostraNuova";
  font-size: clamp(28px, 3vw, 56px);
  letter-spacing: 4px;
  font-weight: bold;
  margin-top: clamp(36px, 2vw, 48px);
}

.subtitle {
  font-family: "MyriadPro";
  font-size: clamp(16px, 2vw, 24px);
  letter-spacing: 6px;
  font-weight: 300;
  color: var(--gold);
  margin-bottom: clamp(10px, 2vw, 18px);
}

.ornament {
  width: clamp(140px, 16vw, 200px);
  height: auto;
}
