.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: auto;
  background-image: url("../../assets/svg/bg-about.svg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 18%;
  padding-bottom: 18%;
}

.contentWrapper {
  width: 60vw;
  z-index: 2;
}
