.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}

.menuBtn {
  border: none;
  background-color: transparent;
  color: var(--gold);
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
  width: clamp(60px, 10vw, 96px);
}

.menuBtn:hover {
  opacity: 0.7;
}

.menuIcon {
  width: 100%;
  height: auto;
  vertical-align: middle;
}
