.section {
  width: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.gridWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 0;
  width: 100%;
  height: auto;
}

.item {
  position: relative;
  overflow: hidden;
}

.item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.item1 {
  grid-column: 1 / 3;
  grid-row: 1;
}

.item2 {
  grid-column: 1;
  grid-row: 2;
}

.item3 {
  grid-column: 1;
  grid-row: 3;
}

.item4 {
  grid-column: 2;
  grid-row: 2 / 4;
}

.overlayWrapper {
  width: 80%;
  height: 70%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  perspective: 3000px;
  pointer-events: none;
}

.overlay {
  position: absolute;
  width: 50%;
  height: 100%;
  transform-origin: right center;
  transition: transform 0.6s ease-in-out var(--delay, 0s),
    opacity 0.6s ease-in-out;
  opacity: 0;
  pointer-events: none;
  border: none;
}

.left {
  left: 0;
  transform-origin: right center;
  transform: rotateY(90deg);
}

.right {
  right: 0;
  transform-origin: left center;
  transform: rotateY(-90deg);
}

.overlayContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  color: white;
  text-align: center;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
  width: 70%;
}

.subtitle {
  font-family: "MostraNuova", sans-serif;
  font-size: clamp(16px, 2vw, 24px);
  font-weight: normal;
  color: var(--white);
  margin: 0;
}

.text {
  font-family: "MostraNuova", sans-serif;
  font-size: clamp(16px, 2vw, 24px);
  font-weight: bold;
  color: var(--white);
  margin: 0;
  margin-top: 0.5vw;
}

.item:hover .left {
  transform: rotateY(0deg);
  opacity: 0.8;
}

.item:hover .right {
  transform: rotateY(0deg);
  opacity: 0.8;
}

.item:hover .overlayContent {
  opacity: 1;
  transition-delay: 0.4s;
}
